!!!
%html
  %head
    %title mirror mirror
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
  %body
    %header
      .row
        .col
          %img{src: "mirror.svg", class: 'titleIcon'}
          %h2 mirror
          %h2.flipped &#x202e; | mirror
        .col.navLinks
          - if user_signed_in?
            = link_to current_user.email, edit_user_registration_path
            |
            = link_to "Logout", destroy_user_session_path, method: :delete
          - elsif controller_name != 'sessions' && !current_page?(root_path)
            = link_to "Login", new_user_session_path
            - if devise_mapping.registerable? && controller_name != 'registrations'
              |
              = link_to "Register", new_user_registration_path
          - elsif devise_mapping.registerable? && controller_name != 'registrations'
            = link_to "Register", new_user_registration_path
    = yield
